@media (max-width: 570px){
    
    .quiz{
        width: calc(100% - 20px);
        margin-right: 10px;
       
    }
}

@media (max-width: 520px){
    .quiz header .question_text{
        text-align: center;
    }
    .quiz header .time{
        margin-top: 20px;
    }
}
@media (max-width: 460px){
   
    .result{
        width: calc(100% - 20px);
        margin-right: 10px;
    }
}
@media (max-width: 526px){
   
    .quiz section .option_list{
        flex-direction: column;
    }
    section .option_list .option{
        width: 70%;
        margin-top: 10px;
    }
    section .option_list .option:not(:last-child){
        margin-right: 0px;
        
    }
}

