@media (max-width: 570px){
   
    .quiz{
        width: 100%;
        
       
    }
}
@media (max-width: 395px){
    .quiz header .question_text{
        text-align: center;
    }
}
@media (max-width: 415px){
   
    .result{
        width: 100%;
    }
}
@media (max-width: 526px){
   
    .quiz section .option_list{
        flex-direction: column;
    }
    section .option_list .option{
        width: 70%;
    }
    section .option_list .option:not(:last-child){
        margin-right: 0px;
        margin-bottom: 5px;
    }
}

