@media (max-width: 570px){
   
    .quiz{
        width: 100%;
        
       
    }
}
@media (max-width: 395px){
    .quiz header .question_text{
        text-align: center;
    }
}
@media (max-width: 415px){
   
    .result{
        width: 100%;
    }
}

