@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0f87b6;
    background-image: linear-gradient(135deg, #09807a 0%, #28168f 100%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.theme{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    
}
.theme svg{
    cursor: pointer;
}
.start_btn{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    
}
.start_btn button{
   
    text-align: center;

    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    color: rgb(35, 35, 190);
    background: #fff;
    border: 1px solid #5851b6;
    cursor: pointer;
    transition: all 0.3s ease;
}
.quiz{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.quiz.activeQuiz{
    z-index: 4;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.quiz header{
    height: 100px;
    margin-top: 15px;
    background: #fff;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}
.quiz header .time{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
header .time .time_text{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    user-select: none;
}
header .time .time_sec{
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    color: rgb(236, 8, 65);
}
.quiz header .multiple_answers span{
    font-size: 20px;
    font-weight: 500;
}
.quiz header .number_text{
    font-size: 20px;
    font-weight: 500;

}
.quiz header .number_text span{
    display: flex;
    user-select: none;
}
.quiz header .number_text span p:first-child{
    padding-left: 5px;
}
.quiz header .question_text{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 300;
}
.quiz section{
    padding: 0px 30px 20px 30px;
    background: #fff;
}
.quiz section .option_list{
    
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section .option_list .option{
    
    background: rgb(16, 16, 105);
    width: 32%;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    transition: all 0.3s ease;
}
section .option_list .option:hover{
    color: #fff;
    background: rgb(15, 15, 173);
   
}
section .option_list .option:focus{
    color: inherit;
    background: inherit;
}
section .option_list .option:last-child{
    margin-right: 0px;
}
.option_list .option.correct{
    color: #155724;
    background: #7fdb94;
    border-color: #c3e6cb;
}
.option_list .option.correct-unelected{
    color: #155724;
    background: #7fdb94;
    border-color: #c3e6cb;
}
.option_list .option.incorrect{
    color: #721c24;
    background: #f14e5c;
    border-color: #f5c6cb;
}
.option_list .option.disabled{
    pointer-events: none;
}
.quiz footer{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}
footer .next_btn{
    display: none;
    height: 25px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    background: rgb(35, 35, 190);
    border: 1px solid #5851b6;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .next_btn:hover{
    background:rgb(5, 5, 126)
}
.result{
    
    position: absolute;
    top: 50%;
    left: 50%; 
    background: #fff;
    border-radius: 5px;
    width: 450px;
    padding: 20px 25px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0.9);
    
}
.result.activeResult{
    z-index: 4;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.result .comlete_text{
    font-size: 18px;
    font-weight: 500;
}
.result .score_text span{
    display: flex;
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;

}
.result .score_text span p{
    font-weight: 600;
    padding: 0 4px;
}
.result .restart{
    display: flex;
    margin: 10px 0;
}
.result .restart .restart_btn{
    height: 25px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    background: rgb(35, 35, 190);
    border: 1px solid #5851b6;
    cursor: pointer;
    transition: all 0.3s ease;
}
.result .restart .restart_btn:hover{
    background:rgb(5, 5, 126)
}