@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0f87b6;
    background-image: linear-gradient(135deg, #09807a 0%, #28168f 100%);
    font-family: 'Poppins', sans-serif;
   
    
}
.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.quiz header{
    height: 100px;
    margin-top: 20px;
    background: #fff;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.quiz header .number_text{
    font-size: 20px;
    font-weight: 500;

}
.quiz header .question_text{
    font-size: 18px;
    font-weight: 300;
}
.quiz section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.quiz section .option_list{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section .option_list .option{
    
    background: rgb(16, 16, 105);
    width: 70px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
}
section .option_list .option:last-child{
    margin-right: 0px;
}