body{
    background-color: #0f87b6;
    background-image: linear-gradient(135deg, #09807a 0%, #28168f 100%);
   
}

.start_btn button{
    color: rgb(35, 35, 190);
    background: #fff;
    border: 1px solid #5851b6;
   
}
.quiz{
    background: #fff;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.quiz header{
    background: #fff;  
}
header .time .time_sec{
    color: rgb(236, 8, 65);
}
.quiz section{
    background: #fff;
}
section .option_list .option{    
    background: rgb(16, 16, 105);
    color: #fff;  
}
section .option_list .option:hover{
    color: #fff;
    background: rgb(15, 15, 173);
   
}
.option_list .option.correct{
    color: #155724;
    background: #7fdb94;
    border-color: #c3e6cb;
}
.option_list .option.correct-unelected{
    color: #155724;
    background: #7fdb94;
    border-color: #c3e6cb;
}
.option_list .option.incorrect{
    color: #721c24;
    background: #f14e5c;
    border-color: #f5c6cb;
}
footer .next_btn{  
    color: #fff;
    background: rgb(35, 35, 190);
    border: 1px solid #5851b6;
}
footer .next_btn:hover{
    background:rgb(5, 5, 126)
}
.result{
    background: #fff;   
}
.result .restart .restart_btn{ 
    color: #fff;
    background: rgb(35, 35, 190);
    border: 1px solid #5851b6;
}
.result .restart .restart_btn:hover{
    background:rgb(5, 5, 126)
}
.change-theme[data-theme="dark"]{
    display: block;
}
.change-theme[data-theme="light"]{
    display: none;
}